body{
	margin:0;
}

#wrapper{
	user-select: none;
	height:100%;
	width:100%;
	
	display: grid;
	grid-template-columns:1fr 12fr 1fr 24fr 1fr;
	grid-template-rows:5fr 1fr 24fr 1fr;
}

#inputField{
	height: 100%;
    width: 100%;
	grid-column:2/3;
	grid-row:3/4;
	
	box-sizing: border-box;
	
	overflow:scroll;
	
	border: 1px black solid;
	padding: 10px;
	margin:0;
}

#outputWindow{
	height: 100%;
	width: 100%;
	grid-column:4/5;
	grid-row:3/4;
	
	box-sizing: border-box;
	
	overflow: scroll;
	
	border: 1px black solid;
	
	z-index:4;
}

#outputCanvas{
	position: relative;
	backGround:white;
	z-index:1;
}

#optionsPanel{
	grid-column:1/-1;
	grid-row:1/2;
	
	height: 100%;
	width:100%;
	background: #98c0bd;
	
	display:grid;
	grid-template-columns:4fr 5fr 4fr 2fr;
}

#optionsPanel .button{
	width:90%;
	height:90%;
	background:#98c0bd;
	display: grid;
	grid-template-rows:3fr 1fr;
	justify-items:center;
	align-items:center;
}

#optionsPanel .button:hover{
	background:#6d8683;
}

#optionsPanel .button .icon{
	grid-column: 1/-1;
	grid-row:1/2;
	width:50%;
	height:auto;
}

#optionsPanel .button .textLabel{
	grid-column: 1/-1;
	grid-row:2/3;
	font-size:7px;
	text-align:center;
	font-weight:600;
}

#optionsPanel .textLabel{
	grid-column:1/-1;
	grid-row:1/2;
	font-weight:600;
}

.colorDisplay{
	height:35px;
	width:35px;
	background:white;
	border: 1px solid black;
	border-radius:3px;
}

#fileOptions{
	width:100%;
	grid-column:1/2;
	
	margin-top:10px;
	margin-bottom:10px;
	border-right: 2px solid #6d8683;
	display:grid;
	grid-template-columns:1fr 2fr 2fr 2fr 2fr 1fr;
	grid-template-rows:1fr 3fr;
	align-items:center;
	justify-items:center;
}

.textLabel{
	height:100%;
	width:100%;
	text-align:center;
}

input{
	outline:0px;
	border-radius: 5px;
	border:2px solid black;
	padding:3px;
}

#openButton{
	grid-column:2/3;
	grid-row:2/3;
}

#saveButton{
	grid-column:3/4;
	grid-row:2/3;
}

#saveAsButton{
	grid-column:4/5;
	grid-row:2/3;
}

#exportButton{
	grid-column:5/6;
	grid-row:2/3;
}

#textOptions{
	width:100%;
	grid-column:2/3;
	
	margin-top:10px;
	margin-bottom:10px;
	border-right: 2px solid #6d8683;
	display: grid;
	grid-template-columns:1fr 6fr 3fr 2fr 2fr 2fr 1fr;
	grid-template-rows:2fr 3fr 1fr;
	justify-items:center;
	align-items:center;
}

#fontSizeInputContainer{
	height:100%;
	width:100%;
	grid-row:2/3;
	grid-column:2/3;
	display: grid;
	grid-template-rows:1fr 2fr;
	grid-template-columns:1fr;
	justify-items:center;
	align-items:center;
}

#fontSizeInputContainer .textLabel{
	grid-row:1/2;
	font-size:14px;
}

#fontSizeInputContainer input{
	height:60%;
	width:50%;
	grid-row:2/3;
	font-size:18px;
}

#textOptions #textColorButton{
	grid-row:2/4;
	grid-column:3/4;
	grid-template-rows:2fr 1fr;
}

#textOptions #textColorButton .textLabel{
	width:70%;
}

#textOptions #italicButton{
	grid-row:2/4;
	grid-column:4/5;
	grid-template-rows:2fr 1fr;
}

#textOptions #boldButton{
	grid-row:2/4;
	grid-column:5/6;
	grid-template-rows:2fr 1fr;
}

#textOptions #underlineButton{
	grid-row:2/4;
	grid-column:6/7;
	grid-template-rows:2fr 1fr;
}

#nodeOptions{
	width:100%;
	grid-column:3/4;
	
	margin-top:10px;
	margin-bottom:10px;
	border-right: 2px solid #6d8683;
	display: grid;
	grid-template-columns:1fr 4fr 2fr 1fr;
	grid-template-rows:2fr 3fr 1fr;
	justify-items:center;
	align-items:center;
}

#nodeWidthInputContainer{
	height:100%;
	width:100%;
	grid-row:2/3;
	grid-column:2/3;
	display: grid;
	grid-template-rows:1fr 2fr;
	grid-template-columns:1fr;
	justify-items:center;
	align-items:center;
}

#nodeWidthInputContainer .textLabel{
	grid-row:1/2;
	font-size:14px;
}

#nodeWidthInputContainer input{
	height:60%;
	width:50%;
	grid-row:2/3;
	font-size:18px;
}

#nodeOptions #nodeColorButton{
	grid-row:2/4;
	grid-column:3/4;
	grid-template-rows:2fr 1fr;
}

#nodeOptions #nodeColorButton .textLabel{
	width:70%;
}

#helpOptions{
	width:100%;
	grid-column:4/5;
	
	margin-top:10px;
	margin-bottom:10px;
	display:grid;
	grid-template-rows:1fr 3fr;
	align-items:center;
	justify-items:center;
}

#helpOptions #helpButton{
	width:40%;
	grid-template-rows:1fr;
}

#helpOptions #helpButton .icon{
	grid-column: 1/-1;
	grid-row:1/-1;
	width:70%;
	height:auto;
}

/*Elements related to the color Panel*/

#colorPanel{
	visibility:hidden;
	
	background:white;
	border:1px solid black;
	border-radius:10px;
	height:150px;
	width:150px;
	padding:20px;
	
	display:grid;
	
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-items:center;
	align-items:center;
	
	position:absolute;
	z-index:5;
}

#colorPanel .textLabel{
	width:100%;
	height:100%;
	text-align:left;
}

#colorPanel .slider{
	width:100%;
}

#colorCodeInput{
	grid-column:1/-1;
	grid-row:1/2;
	width:50%;
	align-text:center;
}

#red{
	grid-column:1/2;
	grid-row:2/3;
}

#redSlider{
	grid-column:2/4;
	grid-row:2/3;
}

#green{
	grid-column:1/2;
	grid-row:3/4;
}

#greenSlider{
	grid-column:2/4;
	grid-row:3/4;
}

#blue{
	grid-column:1/2;
	grid-row:4/5;
}

#blueSlider{
	grid-column:2/4;
	grid-row:4/5;
}

#outputWindow .button{
	height:30px;
	width:30px;
	background:#98c0bd;
	border-radius:5px;
	position:absolute;
	top:30px;
	z-index:10;
	
	visibility:hidden;
}

#outputWindow .button .icon{
	margin-left:10%;
	margin-top:10%;
	width:80%;
	height:auto;
}

#outputWindow .button:hover{
	background:#6d8683;
}

#dragButton.selected{
	background:#6d8683;
}

.bulletPtElement{
	margin-left: 20px;
	background: #f4f4f4;
	border-radius:5px;
	padding:0px;
	height:1.5em;
	box-sizing: border-box;
}

.bulletPtText{
	font-size:20px;
	line-height:1.5em;
	word-wrap: break-word;
}

.bulletPtText:focus{
	outline:0px;
}

.rectangleNode{
	height: 50px;
	width: 100px;
	background: #f4f4f4;
	position: absolute;
	z-index: 3;
	
	border-radius:10px;
	padding: 10px;
	box-sizing: border-box;
	
	display:grid;
	justify-items:center;
	align-items:center;
}

.graphText{
	text-align:center;
	width: 100%;
	overflow:hidden;
	word-wrap: break-word;
	font-size:20px;
	line-height: 1.5em;
}

.graphLine{
	height: 2px;
	background: black;
	z-index: 2;
	margin: 1px;
	position: absolute;
}

.highlightBorder{
	border: 3px solid #98c0bd;
}

.defaultBorder{
	border: 1px solid black;;
}

.textColor{
	top: 17%;
	left:40%;
}

.nodeColor{
	top: 17%;
	left:77%;
}

@media print{
	body{
		-webkit-print-color-adjust: exact;
	}
}