body{
	margin:0;
	position:relative;
}

#optionsPanel{
	height: 12%;
	width:100%;
	background: #f4f4f4;
	
	display:grid;
	grid-template-columns:2fr 1fr 1fr 3fr;
	justify-items:center;
	align-items:center;
}

#fileOptions{
	width:33%;
	display:grid;
	grid-template-columns:1fr 1fr;
	justify-items:center;
	align-items:center;
}

#textOptions{
	width:50%;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	justify-items:center;
	align-items:center;
	/*visibility:hidden;*/
}

#bulletPtContainer{
	height: 78%;
    width: 20%;
	position: absolute;
	top: 17%;
	left: 75%;
	box-sizing: border-box;
	
	overflow:scroll;
	
	border: 1px black solid;
	padding: 10px;
	margin:0;
}

#canvasContainer{
	height: 78%;
	width: 65%;
	position: absolute;
	top: 17%;
	left: 5%;
	box-sizing: border-box;
	
	overflow: scroll;
	
	border: 1px black solid;
}

#canvas{
	height: 100%;
	width: 100%;
	position: relative;
}

.inputContainer{
	height:50px;
	width:100px;
}

.inputContainer input{
	width:70px;
}

.button{
	height:50px;
	width:50px;
	background:#f4f4f4;
	border:1px black solid;
	/*position: absolute;*/
}

.button:hover{
	background:#9f9f9f;
}

.bulletPtSection{
	margin-left: 20px;
	background: #f4f4f4;
}

.bulletPtText{
	font-size:20px;
	line-height:1.5em;
}

.graphNode{
	height: 50px;
	width: 100px;
	background: #f4f4f4;
	position: absolute;
	z-index: 2;
	
	border: 1px black solid;
	border-radius:10px;
	padding: 10px;
	box-sizing: border-box;
	
	display:grid;
	justify-items:center;
	align-items:center;
}

.graphText{
	text-align:center;
	width: 100%;
	overflow:hidden;
	word-wrap: break-word;
	font-size:20px;
	line-height: 1.5em;
}

.graphLine{
	height: 2px;
	background: black;
	z-index: 1;
	margin: 1px;
	position: absolute;
}